:root {
    --bg-color: #212121;
    --fg-color: #EEFFFF;
    --b3-color: #89DDFF;
    --b2-color: #FFCB6B;
    --b1-color: #FF5370;
    --b0-color: #000000;
}
body {
    background: var(--bg-color);
    line-height: 1.4em;
    letter-spacing: .1em;
}

.flex {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.search {
    width: 100%;
    display: block;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2em;
    border-radius: 5px;
    background: var(--bg-color);
    border: var(--b1-color) solid 1px;
    color: var(--fg-color);
}

.title {
    color: var(--b1-color);
    display: inline-block;
    text-align: right
}

.separator {
    color: var(--b2-color);
    display: inline-block;
}

.item {
    text-decoration: none;
    color: var(--b3-color);
    display: inline-block;
}

.item:hover {
    text-decoration: underline;
}
