body {
    background: #272822;
    line-height: 1.4em;
    letter-spacing: .1em;
}

.flex {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.search {
    width: 100%;
    display: block;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2em;
    border-radius: 5px;
    background: #272822;
    border: #a6e22e solid 1px;
    color: #fff;
}

.title {
    color: #a6e22e;
    display: inline-block;
    text-align: right
}

.separator {
    color: #f4bf75;
    display: inline-block;
}

.item {
    text-decoration: none;
    color: #66d9ef;
    display: inline-block;
}

.item:hover {
    text-decoration: none;
    color: #a1efe4;
    display: inline-block;
    transition: color .5s;
}

